backupFiles/node-red/node-red_20200516_161805/flows_raspberrypi.json
[{"id":"f5017a9c.11a6c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b64c54f.4b701a8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.153","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6d365c30.b615b4","type":"mqtt out","z":"f5017a9c.11a6c8","name":"","topic":"","qos":"","retain":"","broker":"b64c54f.4b701a8","x":570,"y":140,"wires":[]},{"id":"b6144c72.1d52e","type":"inject","z":"f5017a9c.11a6c8","name":"Test TOGGLE","topic":"cmnd/tasmota/POWER","payload":"TOGGLE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":60,"wires":[["6d365c30.b615b4","2ee01140.c57b5e"]]},{"id":"822e9eb2.9797f","type":"mqtt in","z":"f5017a9c.11a6c8","name":"","topic":"stat/tasmota/RESULT","qos":"0","datatype":"json","broker":"b64c54f.4b701a8","x":310,"y":260,"wires":[["fcff478.daa91b8"]]},{"id":"fcff478.daa91b8","type":"debug","z":"f5017a9c.11a6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":260,"wires":[]},{"id":"1cfcf12a.2b492f","type":"mqtt in","z":"f5017a9c.11a6c8","name":"doorSensor","topic":"zigbee2mqtt/0x00158d0002c94a1c","qos":"0","datatype":"json","broker":"b64c54f.4b701a8","x":210,"y":400,"wires":[["2ed9ff2d.4d17d","a7d3158e.e55b78"]]},{"id":"2ed9ff2d.4d17d","type":"debug","z":"f5017a9c.11a6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.contact","targetType":"jsonata","x":780,"y":400,"wires":[]},{"id":"c38d1116.d15ae","type":"debug","z":"f5017a9c.11a6c8","name":"test mesage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":480,"wires":[]},{"id":"74657584.cbd71c","type":"function","z":"f5017a9c.11a6c8","name":"","func":"var newMsg = { payload: msg.payload.battery };\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[[]]},{"id":"a7d3158e.e55b78","type":"function","z":"f5017a9c.11a6c8","name":"","func":"var newMsg;\n\nif (msg.payload.contact === true) {\n  newMsg = { topic:\"cmnd/tasmota/POWER\",payload: \"TOGGLE\" };\n} else {\n   return null;\n}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["c38d1116.d15ae","e79a341d.c1f4f8"]]},{"id":"5f35b82.99af148","type":"function","z":"f5017a9c.11a6c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[[]]},{"id":"2ee01140.c57b5e","type":"debug","z":"f5017a9c.11a6c8","name":"test inject","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":40,"wires":[]},{"id":"e79a341d.c1f4f8","type":"mqtt out","z":"f5017a9c.11a6c8","name":"","topic":"","qos":"","retain":"","broker":"b64c54f.4b701a8","x":670,"y":560,"wires":[]}]