backupFiles/node-red_20200516_123148/flows_ha.json
[{"id":"8f5e551a.9a07e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"790ecd33.bcf804","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.153","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"68430d3c.bf9934","type":"mqtt out","z":"8f5e551a.9a07e8","name":"","topic":"","qos":"","retain":"","broker":"790ecd33.bcf804","x":570,"y":140,"wires":[]},{"id":"402428a3.939bf8","type":"inject","z":"8f5e551a.9a07e8","name":"Test TOGGLE","topic":"cmnd/tasmota/POWER","payload":"TOGGLE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":60,"wires":[["68430d3c.bf9934","2b875c7f.354144"]]},{"id":"c95fd5c2.a86918","type":"mqtt in","z":"8f5e551a.9a07e8","name":"","topic":"stat/tasmota/RESULT","qos":"0","datatype":"json","broker":"790ecd33.bcf804","x":310,"y":260,"wires":[["f0f83cf3.1611f"]]},{"id":"f0f83cf3.1611f","type":"debug","z":"8f5e551a.9a07e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":260,"wires":[]},{"id":"7e17e48f.e20abc","type":"mqtt in","z":"8f5e551a.9a07e8","name":"doorSensor","topic":"zigbee2mqtt/0x00158d0002c94a1c","qos":"0","datatype":"json","broker":"790ecd33.bcf804","x":210,"y":400,"wires":[["ef5a72c3.7c813","8d3d8c82.f627b"]]},{"id":"ef5a72c3.7c813","type":"debug","z":"8f5e551a.9a07e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.contact","targetType":"jsonata","x":780,"y":400,"wires":[]},{"id":"b0e99843.97a388","type":"debug","z":"8f5e551a.9a07e8","name":"test mesage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":480,"wires":[]},{"id":"7c95c046.cf74a","type":"function","z":"8f5e551a.9a07e8","name":"","func":"var newMsg = { payload: msg.payload.battery };\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[[]]},{"id":"8d3d8c82.f627b","type":"function","z":"8f5e551a.9a07e8","name":"","func":"var newMsg;\n\nif (msg.payload.contact === true) {\n  newMsg = { topic:\"cmnd/tasmota/POWER\",payload: \"TOGGLE\" };\n} else {\n   return null;\n}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["b0e99843.97a388","be9f9619.65bbd8"]]},{"id":"998abed0.ab8b","type":"function","z":"8f5e551a.9a07e8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[[]]},{"id":"2b875c7f.354144","type":"debug","z":"8f5e551a.9a07e8","name":"test inject","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":40,"wires":[]},{"id":"be9f9619.65bbd8","type":"mqtt out","z":"8f5e551a.9a07e8","name":"","topic":"","qos":"","retain":"","broker":"790ecd33.bcf804","x":670,"y":560,"wires":[]},{"id":"40a7ab15.83c514","type":"status","z":"8f5e551a.9a07e8","name":"","scope":null,"x":960,"y":200,"wires":[[]]},{"id":"2d6aa51.a3dba5a","type":"complete","z":"8f5e551a.9a07e8","name":"","scope":[],"uncaught":false,"x":960,"y":280,"wires":[[]]}]